<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Project Atomic Talks{{end}}

{{define "body"}}
<article>
<h1>Talks by Community Members</h1>
You may find videos and/or slides from talks about Project Atomic and related subprojects here.

<h2>General</h2>
Dusty Mabe, Josh Berkus: Catching Up With Atomic: Retrospective & BOF
Youtube: https://www.youtube.com/watch?v=3ayxEyGMbd4

<h2>Containers</h2>
See full list: https://www.youtube.com/channel/UCmYAQDZIQGm_kPvemBc_qwg/search?query=container

Dan Walsh: Latest Container Technologies
Youtube: https://www.youtube.com/watch?v=I0cOn1psf5o

Antonio Murdaca: Secure your Kubernetes cluster with CRI-O
Youtube: https://www.youtube.com/watch?v=xH2I5WcPM4Y

Chris Houseknecht: Ansible Container : Build Better!
Youtube: https://www.youtube.com/watch?v=TMNayhc9A9A

Patrick Uiterwijk, Randy Barlow: How Fedora's solving the container rebuild problem
Youtube: https://www.youtube.com/watch?v=Yc5Mq87-DuE

Miroslav Suchý: Catching Bugs In Containers
Youtube: https://www.youtube.com/watch?v=wHB7i4QaxHU

Bill Peck: Lessons Learned Implementing Builder Containers
Youtube: https://www.youtube.com/watch?v=8iRIep6dIEE

Huamin Chen, Dennis Keefe: Container Image Storage Compression and Dedupe
    Youtube: https://www.youtube.com/watch?v=sB1QFfaDp0Y


<h2>Atomic Host/Workstation</h2>
Matthew Micene, Giuseppe Scrivano: Moving to Atomic System Containers
Youtube: https://www.youtube.com/watch?v=6ImTdrKv_Q0

Sanja Bonic and Colin Walters: You want a Clean Desktop OS? Containerize it.
Youtube: https://www.youtube.com/watch?v=a4IPWlfkJSo
Slides: https://fedorapeople.org/~walters/2018.01-devconf-desktopcontainers/#/

Jan Pazdziora: Minimizing workstation installation
Youtube: https://www.youtube.com/watch?v=eWoFpOoA-tE

Kalev Lember: Atomic Workstation
YouTube: https://www.youtube.com/watch?v=Yc7lvkl5atE
Slides: https://kalev.fedorapeople.org/slides/2018-devconf-Atomic-Workstation.pdf

Jonathan Lebon: Fearless Upgrades with Fedora Atomic Workstation
YouTube: https://www.youtube.com/watch?v=7c3GdfhWzcc
Slides: http://jlebon.com/devconf/2018/slides.pdf

Colin Walters: Hybrid image/package OS updates with rpm-ostree:
    Youtube: https://www.youtube.com/watch?v=eWoFpOoA-tE
    Slides: https://fedorapeople.org/~walters/2018.01-devconf/index.html

Peter Robinson: Using Fedora and OSTree for IoT
Youtube: https://www.youtube.com/watch?v=mRqV38qT-wc
</article>
{{end}}
