<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Project Atomic Talks{{end}}

{{define "body"}}
<article>
<h1>Talks by Community Members</h1>
<p>You may find videos and/or slides from talks about Project Atomic and related subprojects here.

<h2>General</h2>
<p>Dusty Mabe, Josh Berkus: <a href="https://www.youtube.com/watch?v=3ayxEyGMbd4">Catching Up With Atomic: Retrospective & BOF</a>

<h2>Containers</h2>
<p>See the <a href="https://www.youtube.com/channel/UCmYAQDZIQGm_kPvemBc_qwg/search?query=container">full list</a> on Youtube.

<p>Dan Walsh: <a href="https://www.youtube.com/watch?v=I0cOn1psf5o">Latest Container Technologies</a>

<p>Antonio Murdaca: <a href="https://www.youtube.com/watch?v=xH2I5WcPM4Y">Secure your Kubernetes cluster with CRI-O</a>

<p>Chris Houseknecht: <a href="https://www.youtube.com/watch?v=TMNayhc9A9A">Ansible Container : Build Better!</a>

<p>Patrick Uiterwijk, Randy Barlow: <a href="https://www.youtube.com/watch?v=Yc5Mq87-DuE">How Fedora's solving the container rebuild problem</a>

<p>Miroslav Suchý: <a href="https://www.youtube.com/watch?v=wHB7i4QaxHU">Catching Bugs In Containers</a>

<p>Bill Peck: <a href="https://www.youtube.com/watch?v=8iRIep6dIEE">Lessons Learned Implementing Builder Containers</a>

<p>Huamin Chen, Dennis Keefe: <a href="https://www.youtube.com/watch?v=sB1QFfaDp0Y">Container Image Storage Compression and Dedupe</a>

<h2>Atomic Host/Workstation</h2>
<p>Matthew Micene, Giuseppe Scrivano: <a href="https://www.youtube.com/watch?v=6ImTdrKv_Q0">Moving to Atomic System Containers</a>

<p>Sanja Bonic and Colin Walters:
<a href="https://www.youtube.com/watch?v=a4IPWlfkJSo">You want a Clean Desktop OS? Containerize it.</a>
<a href="https://fedorapeople.org/~walters/2018.01-devconf-desktopcontainers/#/">Slides</a>

<p>Jan Pazdziora: <a href="https://www.youtube.com/watch?v=eWoFpOoA-tE">Minimizing workstation installation</a>

<p>Kalev Lember: <a href="https://www.youtube.com/watch?v=Yc7lvkl5atE">Atomic Workstation</a>
<a href="https://kalev.fedorapeople.org/slides/2018-devconf-Atomic-Workstation.pdf">Slides</a>

<p>Jonathan Lebon: <a href="https://www.youtube.com/watch?v=7c3GdfhWzcc">Fearless Upgrades with Fedora Atomic Workstation</a>
<a href="http://jlebon.com/devconf/2018/slides.pdf">Slides</a>

<p>Colin Walters: <a href="https://www.youtube.com/watch?v=eWoFpOoA-tE">Hybrid image/package OS updates with rpm-ostree</a>
<a href="https://fedorapeople.org/~walters/2018.01-devconf/index.html">Slides</a>

<p>Peter Robinson: <a href="https://www.youtube.com/watch?v=mRqV38qT-wc">Using Fedora and OSTree for IoT</a>
</article>
{{end}}
