html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #1b202a url(/public/images/bckgd.png) repeat top center;
  color: white;
  margin: 5px;
}

div.wrapper {
  display: grid;
}

a {
  font-weight: 900;
  text-decoration: none;
  color: #1b202a;
}

hr {
  margin: 0;
  border: 1px #46d200 solid;
}

pre, code {
  background: #1b202a;
  color: white;
  font-family: 'Overpass Mono', monospace; 
  font-size: 80%; 
  vertical-align: middle;
  padding: 1px 0.5rem;
}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 0 0;
}

.center {
  text-align: center;
}

p {
  margin: 0.75rem 0 0 0;
}

header {
  grid-row: span 2;
}

header nav {
  margin-top: 1rem;
}

header nav a {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0.2rem 0;
}
header nav a:hover {
  transition: background-color 0.2s ease-in;
  color: white;
  background: #46d200;
}
header #atomic-logo {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

main article {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.8);
  color: #1b202a;
  margin: 1rem 0;
  padding: 1rem;
}

.hash {
  display: block;
  width: 100%;
  height: 2rem;
  line-height: 1rem;
  border: 1px solid #1b202a;
  resize: none;
  background: none;
  overflow-x: scroll;
}

main article h1 {
  font-size: 210%;
  font-weight: 700;
}

main article a {
  border-bottom: 2px #46d200 solid;
}

main article a:hover {
  border-color: #1b202a;
}

main article a::before, main article ul.taglist li a::before {
  font-size: 0.7rem;
  content: "\25a0\00a0";
  color: #46d200;
}

main article h1 a::before, main article h2 a::before, main article h3 a::before, main article h4 a::before, main article h5 a::before, main article li a::before {
  content: "";
} 

main article a:hover::before {
  color: #1b202a;
  transition: color 300ms ease-in;
}

main article.archive a {
  display: block;
  line-height: 1.5rem;
  border: 0;
  text-decoration: #46d200 underline;
}

main article.archive a:hover {
  text-decoration-color: #1b202a;
}

main article section.boxes {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  grid-column-gap: 2.5em;
  padding: 0.5em;
}

main article section.boxes h2 {
  background-color: #1b202a;
  color: rgba(255, 255, 255, 0.8);;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

main article footer.post-meta {
  font-size: 80%;
  margin-top: 2rem;
  text-align: center;
}

main article footer.post-meta ul.taglist {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

main article footer.post-meta ul.taglist {
  padding: 0;
}

main article footer.post-meta ul.taglist li {
  display: block;
  padding: 0 1rem;
}

footer #copywrite, footer nav {
  text-align: center;
}
footer nav {
  margin: 1rem 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
footer nav a {
  color: white;
  border-bottom: 2px #46d200 solid;
}
footer nav a:hover {
  color: #46d200;
  border-bottom-color: white;
}
footer #copywrite {
  font-size: 90%;
}

@media (min-width: 420px) {
  header {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
  }
  
  header nav {
    margin-top: 0;
  }
}
 
@media (min-width: 680px) {
  header {
    display: block;
  }
  
  header nav {
    margin-top: 1rem;
  }
  
  .wrapper {
    margin: 1rem;
    grid-template-columns: 220px 1fr;
    grid-column-gap: 1rem;
  }
}

@media (min-width: 950px) {
  .wrapper {
    margin: 0 12%;
    grid-column-gap: 5%;
  }

  header nav {
    margin-top: 2rem;
  }
}

@media (max-width: 350px) {
  li {
    font-size: 80%;
  }
}