{{define "structure"}}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes, minimal-ui">
  <meta name="theme-color" content="#1b202a" />
  <meta name="description" content="{{template `title`}}" />
  
  
  <link rel="shortcut icon" href="/public/images/favicon.ico">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono'>
  <link rel="stylesheet" href="/public/atomic-style.css">

  <title>{{template "title"}}</title>
</head>

<body>
  <div class="wrapper">
  <header>
    <div id="atomic-logo">
      <a href="/">
        <img alt="Project Atomic logo" src="/public/images/atomic.svg" width="200" height="200">
      </a>
    </div>
    <nav>
      <a href="/">Project Atomic</a>
      <a href="/download">Download</a>
      <hr>
      <a href="/blog">Blog</a>
      <a href="/docs">Documentation</a>
      <a href="/talks">Talks</a>
      <hr>
      <a href="/community">Community</a>
      <a href="/contribute">Contribute</a>
    </nav>
  </header>

  <main>
  {{template "body" .}}
  </main>

  <footer>
    <nav>
      <a href="https://twitter.com/projectatomic">Twitter</a>
      <a href="irc://irc.freenode.org:6667/#atomic">IRC</a>
      <a href="https://github.com/projectatomic/atomic-site">Github</a>
      <a href="http://www.projectatomic.io/public/feed.xml">RSS</a>
    </nav>
    <p id="copywrite">
      &copy; 2014&ndash;2018 Project Atomic.<br>Sponsored by Red Hat, Inc.
    </p>
  </footer>
</div>

</body>
</html>
{{end}}
